body{
    background: rgb(15, 5, 60);
    color: white;
    margin: auto;
    max-width: 600px;
}

article + article{
    margin-top: 55px;
}


a:active{
    color:yellowgreen;
}


.category{
    display: inline;
    border: 2px solid yellowgreen;
    padding:2px 5px;
}