body{
    background: rgb(15, 5, 60);
    color: white;
    margin: auto;
    max-width: 600px;
}

article + article{
    margin-top: 55px;
}

a{
    color:red;
}
a:active{
    color:yellowgreen;
}
a:visited{
    color: pink;
}